.minerals__container {
    background-color: #fff;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding: 0 80px;
}

@media (min-width: 440px) and (max-width: 639px) {
    .minerals__container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding: 0 50px;
        overflow: hidden;
    }
}

@media (min-width: 640px) {
    .minerals__container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        padding: 0;
    }
}

.mineral__table {
    font-size: 14px;
    color: #384033;
}

.mineral__table td {
    border-color: #CAE5D2;
}

.mineral__table tr:last-of-type td {
    border-bottom: none;
    padding-bottom: 0;
}

.mineral__table-container {
    padding: 5px 30px 0;
}

.mineral__category {
    font-weight: bold;
    width: 40%;
}

.mineral__formula {
    font-size: 12px;
}

.minerals_random__anchor {
    display: inline-block;
    background-image: url("drawer.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    padding: 6px 24px 5px 24px;
    height: 40px;
    width: 130px;
}

.minerals_random__anchor:hover {
    color: #384033;
    background-color: #DCF5F2;
    font-weight: bold;
}

.mineral__image {
    width: 80% !important;
    height: 80% !important;
    padding-left: 40px;
    display: block;
}

.mineral__image_wrapper {
    background: #384033;
    color: white;
}

.mineral__caption {
    font-size: 12px;
    font-style: italic;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #efefef;
    color: black;
}

.mineral__name {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    background: #efefef;
    font-size: 2em;
}

.minerals__item {
    background: #384033;
    list-style-type: none;
    margin: 10px;
}

.minerals__anchor {
    display: inline-block;
    padding: 20px;
    color: white;
    text-align: center;
}

.minerals__anchor:hover {
    color: white;
}


