{% extends "layout.html" %}
{% load static from staticfiles %}

<!-- Page Title
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block title %}Change my Password{% endblock %}

<!-- Nav Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block navheader %}Change<br>Password{% endblock %}

<!-- Sidebar Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block nav %}
    <h2>You can change your password here!</h2>
{% endblock %}

<!-- Main Content
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block content %}
    {%  include 'client_side_form_checking.html' %}
    <form method="POST" action="{% url 'accounts:change_password' %}">
        {% csrf_token %}
        {% include "form_template.html" with form=form %}
        <input type="submit" class="button-primary" value="Change my password">
        <a class=".circle--search button" id="reset" type="button" href="{% url 'accounts:change_password' %}">
            Reset
        </a>
    </form>
{% endblock %}

<!-- Extra JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block js %}
    {% include "form_js.html" %}
{% endblock %}