{% extends 'layout.html' %}
{% block nav %}
    <h2>Your Profile!</h2>
    <p>What do you want to do</p>
    <ul>
        <li><a href="{% url 'profiles:edit' %}">Edit your profile?</a></li>
        <li><a href="{% url 'profiles:change_password' %}">Change your Password?</a></li>
        <li><a href="{% url 'profiles:edit_avatar' %}">Edit your Avatar</a></li>
        <li><a href="{% url 'profiles:other' pk=user.pk %}">See how your profile is shown to other users</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
    <img src="{{ profile.avatar.url }}">
    <table class="profile">
    <tr>
    <td>Date of birth:</td><td>{{ profile.date_of_birth }}</td>
    </tr>
    <tr>
    <td>Email address:</td><td>{{ user.email }}</td>
    </tr>
    <tr>
    <td>On github:</td><td>
        <a href="https://github.com/{{ profile.github_account }}">
            {{ profile.github_account }}
        </a>
    </td>
    </tr>
    </table>
    <h2>Biography</h2>
    <div>{{ profile.bio }}</div>
{% endblock %}
