/* ===========================================
   Base Element Styles
============================================== */

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #10232e;
  background: white;
}


a {
  color: #d1645c;
  text-decoration: none;
}

/* ===========================================
   Base Layout Styles
============================================== */

/* ------- Blog Header ------------------*/

.name {
  font-size: 1.25em;
  color: #294959;
  padding:0;
  margin:0;
}

.user_status {
  margin:0;
  padding:0;
}

/* ------- Navigation ------------------*/

.main-nav li {
  text-align: center;
  background: #284757;
  margin-top: 6px;
  margin-bottom: 6px;
}

.main-nav li.active {
  background: #e1e6d0;
  font-weight: bold;
  font-size: 1.2em;
}

.main-nav a {
  font-size: .95em;
  color:#e1e6d0;
}

.main-nav li.active a {
  color:#d1645c;
}

.main-nav a:hover {
  color:#afd1bc;
}

.main-nav a {
  padding: 5px 3px;
}

/* ------- Layout Containers ------------------*/

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main_header {
  background: #e1e6d0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.main_footer {
  padding: 2em 0;
  background:#284757;
  color:white;
  text-align: center;
}

/* ===========================================
   Media Queries
============================================== */

@media(min-width: 769px) {

  .wrap {
      min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .main-nav,
  .main-nav li {
    display: inline-block;
    padding: 10px;
  }

  .main-nav li {
    margin-right: 2px;
  }

}

/* ===========================================
   Buttons
============================================== */

.button {
	padding: 8px 10px 6px 10px;
	background: #294959;
	border: 2px solid #294959;
	border-radius: 4px;
	text-decoration: none;
	color: #FFF;
	position: relative;
	text-align: center;
	font-size: 14px;
}

/* ===========================================
   Forms
============================================== */

form {
    padding-bottom: 30px;
}


form textarea {
	border: 2px solid #e1e1e1;
	font-size: 15px;
	line-height: 1.5em;
	padding:10px 13px;
	margin-bottom: 30px;
	border-radius: 4px;
}

form input[type=text],
form input[type=password] {
  width: calc(100% - 32px);
  display:block;
}

form label[type=textarea] {
	display:block;
    font-weight: bold;
}

form .field {
    display:block;
    padding-top: 10px;
}

form .field .chosen-choices{
    background: #e1e6d0;
}

form .field .chosen-container {
    font-size:1em;
}

form .field .chosen-container .chosen-results li.highlighted {
  background-color: #d1645c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #d1645c), color-stop(90%, #d1645c));
  background-image: -webkit-linear-gradient(#d1645c 20%, #d1645c 90%);
  background-image: -moz-linear-gradient(#d1645c 20%, #d1645c 90%);
  background-image: -o-linear-gradient(#d1645c 20%, #d1645c 90%);
  background-image: linear-gradient(#d1645c 20%, #d1645c 90%);
  color: #fff;
}

form .field .chosen-container-active .chosen-choices  {
    border: 3px solid #284757;
}

.field .chosen-container-multi .chosen-results {
  background: #e1e6d0;
}


form input[type=text],
form input[type=password],
form input[type=date],
form input[type=time]{
	border: 2px solid #e1e1e1;
	line-height: 1.8em;
	margin-bottom: 5px;
	border-radius: 4px;
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=password]:focus,
form input[type=time]:focus,
form .field:focus,
form textarea:focus {
	outline: 0;
	border-color: #678f89;
}
form .field input:hover,
form textarea:hover {
	border-color: #678f89;
}

input[type=submit] {
	margin-right: 5px;
}
