{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block content %}
    <form method="post">{% csrf_token %}
        <div class="circle--actions--bar">
            <div class="bounds">
                <div class="grid-100">
                    <button type="submit" class="button button-primary">Save Changes</button>
                    <button class="button button-text"
                            href="{% url 'teambuilder:project_delete' project_pk=projectform.instance.id %}">Delete
                        Project
                    </button>
                </div>
            </div>
        </div>
        <div class="bounds circle--page circle--article">
            <div class="grid-70">
                <div class="circle--article--body">
                    <div class="form-errors">
                        {{ projectform.non_field_errors }}

                        {{ projectform.title.errors }}
                    </div>
                    {{ projectform.title }}
                    <div class="form-errors">
                        {{ projectform.description.errors }}
                    </div>
                    {{ projectform.description }}
                </div>

                <div class="circle--project--positions" id="positions_formset">
                    <div class="form-errors">
                        {{ formset.non_form_errors }}
                    </div>
                    {{ formset.management_form }}

                    <h2>Positions</h2>

                    <ul class="circle--group--list circle--clone--list">
                        {% for form in formset %}
                            <li class="link-formset">
                                {{ form }}
                            </li>
                        {% endfor %}
                    </ul>

                    <button type="submit" class="button button-primary">Save Changes</button>

                </div>
            </div>

            <div class="grid-25 grid-push-5">
                <div class="circle--secondary--module">
                    <h3>Project Timeline</h3>
                    <div class="form-errors">
                        {{ projectform.project_timeline.errors }}
                    </div>
                    {{ projectform.project_timeline }}
                </div>

                <div class="circle--secondary--module">
                    <h3>Application Requirements</h3>
                    <div class="form-errors">
                        {{ projectform.applicant_requirements.errors }}
                    </div>
                    {{ projectform.applicant_requirements }}
                </div>

            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        var total_forms = $('#id_positions-TOTAL_FORMS');
        function addForm(row) {
            count = parseInt(total_forms.attr('value'));
            console.log(total_forms.attr('value'));
            total_forms.attr('value', count + 1);
            console.log(total_forms.attr('value'));
        }
        $(function () {
            $('.link-formset').formset({
                addText: 'Add Position',
                deleteText: 'Remove',
                addCssClass: 'circle--clone--add',
                deleteCssClass: 'circle--clone--remove',
                added: addForm,
            });
        })
    </script>
{% endblock %}
