{% extends "layout.html" %}
{% block content %}
<div class="bounds circle--page">
    <div class="circle--page--header circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary">
            <h2>Projects</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="circle--fluid--cell circle--fluid--secondary">
            <a class="button button-primary icon-on-left" type="button" href="{% url 'teambuilder:project_new' %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13 13" style="enable-background:new 0 0 13 13;" xml:space="preserve" class="add">
            <polygon points="7,6 7,0 6,0 6,6 0,6 0,7 6,7 6,13 7,13 7,7 13,7 13,6 "/>
          </svg>
                New Project
            </a>
        </div>
    </div>

    <div class="grid-25">
        <div class="circle--filter circle--secondary--module">
            <h4>Project Needs</h4>
            <ul class="circle--filter--list">
                <li><a class="selected">All Needs</a></li>
                {% for skill in skills %}
                    <li>
                        <a href="">
                            {{ skill.need }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="grid-70 grid-push-5">
        <table class="u-full-width circle--table">
            <thead>
            <tr>
                <th>Project Title</th>
                <th class="circle--cell--right">Project Needs</th>
            </tr>
            </thead>
            <tbody>
            {% for position in positions %}
            <tr class="clickable-row" data-href="{% url 'teambuilder:project' project_pk=position.project_id %}">
                <td>
                    <h3><a href="{% url 'teambuilder:project' project_pk=position.project_id %}">{{ position.project.title }}</a></h3>
                </td>
                <td class="circle--cell--right">
                    {{ position.project.id }}
                    <span class="secondary-label">{{ position.skill.need }}</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
