/* ==========================================================================
   Global Styles
   ========================================================================== */

body {
	font-size: 16px;
	color: #404a49;
	font-family: 'Oxygen', serif;
	font-weight: 400;
}
.container {
	margin: 0 auto;
	padding: 0 25px;
}
header .site-header {
	margin: 0 auto;
	height: 95px;
}
header .nav-lists {
	color: #678f89;
	margin: 20px 0 0 -5px;
	float: left;
	font-size: 40px;
}
header .nav-buttons {
	float: right;
	margin: 33px 0 0 0;
}
footer {
	text-align: center;
	padding: 35px 0;
	border-top: 2px dotted #678f89;
}

.website-header {
	margin-top: 50px;
	margin-left:50px;
}

/* ==========================================================================
   Button Styles
   ========================================================================== */

.button {
	padding: 8px 10px 6px 10px;
	background: #678f89;
	border: 2px solid #678f89;
	border-radius: 4px;
	text-decoration: none;
	color: #FFF;
	position: relative;
	text-align: center;
	font-size: 14px;
}
.button.button-secondary {
	background: #FFF;
	border: 2px solid #e1e1e1;
	color: #404a49;
}
.button.icon-right {
	padding-right: 30px;
	top: -10px;
}
.button.icon-left {
	padding-left: 30px;
	top: -10px;
}
.button.icon-right i {
	position: absolute;
	top: 3px;
	right: 3px;
}
.button.icon-left i {
	position: absolute;
	top: 3px;
	left: 3px;
}
.button:focus {
	outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
	line-height: 1em;
	color: #000;
}
h1 {
	font-size: 44px;
	margin-bottom: 12px;
}
h2 {
	font-size: 32px;
}
h2 a {
	text-decoration: none;
	color: #000;
}
h3 {
	font-size: 18px;
	font-family: 'Work Sans', serif;
	font-weight: 600;
	text-transform: uppercase;
}
p {
	line-height: 1.8em;
	font-size: 18px;
}
p a {
	border-bottom: 2px solid #678f89;
	padding: 0;
	color: #678f89;
	text-decoration: none;
}
ul li {
	line-height: 1.8em;
	font-size: 18px;
}
ul li a {
	border-bottom: 2px solid #678f89;
	line-height: 1.8em;
	color: #678f89;
	text-decoration: none;
}
