{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="circle--actions--bar">
    <nav class="bounds">
        <ul class="circle--pill--list">
            <li><a class="selected">Applications</a></li>
            <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
        </ul>
    </nav>
</div>

<div class="bounds circle--page">
    <div class="circle--page--header grid-100">
        <h2>Applications</h2>
    </div>

    <div class="grid-25">
        <div class="circle--filter circle--secondary--module">
            <h4>Status</h4>
            <ul class="circle--filter--list status">
                <li><a class="selected all">All Applications</a></li>
                <li><a class="selected">New Applications</a></li>
                {% for status in status %}
                <li><a>{{ status.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="circle--filter circle--secondary--module">
            <h4>My Projects</h4>
            <ul class="circle--filter--list projects">
                <li><a class="selected all">All Projects</a></li>
                {% for project in projects %}
                <li><a>{{ project.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="circle--filter circle--secondary--module">
            <h4>Project Needs</h4>
            <ul class="circle--filter--list needs">
                <li><a class="selected all">All Needs</a></li>
                {% for need in needs %}
                    <li><a>{{ need.need }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="grid-70 grid-push-5">
        <table class="u-full-width circle--table">
            <thead>
            <tr>
                <th>Applicant</th>
                <th class="circle--cell--right">Applicant Position</th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr class="clickable-row" data-href="{% url 'account:profile' pk=application.applicant.id %}">
                    <td>
                        <h3>{{ application.applicant.name }}{{ application.applicant_id }}</h3>
                        <p>{{ application.position.project }}</p>
                    </td>
                    <td class="circle--cell--right">
                        <span class="secondary-label">{{ application.position.skill }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>

<script type="text/javascript">

    var status_selector = $('.circle--filter--list.status a');
    var project_needs_selector = $('.circle--filter--list.needs a');
    var projects_selector = $('.circle--filter--list.projects a');
    var project_needs_all = $('.circle--filter--list.needs .all');
    var projects_all = $('.circle--filter--list.projects .all');
    var status_all = $('.circle--filter--list.status .all');
    var search_input =  $('.circle--search input');
    var search_button = $('.circle--search button');

    function reset_project_needs_choices() {
        project_needs_selector.each(function(i) {
            $(this).removeClass('selected');
        });
        project_needs_all.addClass('selected');
    }

    function reset_choices() {
        status_selector.each(function(i) {
            $(this).removeClass('selected');
        });
        project_needs_selector.each(function(i) {
            $(this).removeClass('selected');
        });
        projects_selector.each(function(i) {
            $(this).removeClass('selected');
        });
        projects_all.addClass('selected');
        project_needs_all.addClass('selected');
        status_all.addClass('selected');
    }

    project_needs_selector.click(function(e) {
        e.preventDefault(); //prevent the link from being followed
        reset_choices();
        project_needs_all.removeClass('selected');
        $(this).addClass('selected');
        alert($(this).text());
    });

    status_selector.click(function(e) {
        e.preventDefault(); //prevent the link from being followed
        reset_choices();
        status_all.removeClass('selected');
        $(this).addClass('selected');
        alert($(this).text());
    });

    projects_selector.click(function(e) {
        e.preventDefault(); //prevent the link from being followed
        reset_choices();
        projects_all.removeClass('selected');
        $(this).addClass('selected');
        alert($(this).text());
    });




    search_button.click(function(e) {
        e.preventDefault(); //prevent the link from being followed
            var all_project_needs = $('.circle--filter--list a.all').addClass('selected');
        project_needs_selector.each(function(i) {
            $(this).removeClass('selected');
        });
        project_needs_selector_all.addClass('selected');
        alert(search_input.val());
    });
</script>
{% endblock %}
