{% extends 'layout.html' %}
{% block content %}
    <div class="bounds">
        <div class="grid-30 centered">
            <h2>Sign In</h2>
            <p>Only signed in user can create projects or apply for jobs</p>
            <form method="post">{% csrf_token %}
                <div class="form-errors">
                    {{ form.non_field_errors }}
                </div>
                {% for field in form %}
                    <div class="form-errors">
                        {{ field.errors }}
                    </div>
                    {{ field }}
                {% endfor %}
                <button type="submit" class="button-primary">Sign In</button>
                <a class="button" href="{% url 'accounts:register' %}">Sign Up</a>
            </form>
        </div>
    </div>
{% endblock %}