{% extends 'layout.html' %}
{% block content %}
    <div class="bounds">
        <div class="grid-30 centered">
             {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <div class="container">{{ message|safe }}</div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <h2>Sign In</h2>
            <form method="post">{% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}
                <button type="submit" class="button-primary">Sign In</button>
                <a class="button" href="{% url 'accounts:register' %}">Sign Up</a>
            </form>
        </div>
    </div>
{% endblock %}