<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Pug or Ugh</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/global.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <!-- JS -->
  <script src="../static/lib/jquery.min.js"></script>
  <script src="../static/lib/react-with-addons-0.14.7.min.js"></script>
  <script src="../static/lib/react-dom-0.14.7.min.js"></script>
</head>
<body>
  <div id="container"></div>
  <script src="../static/lib/token-auth.js"></script>
  <script src="../static/js/registration.js"></script>
  <script src="../static/js/login.js"></script>
  <script src="../static/js/checkboxGroup.js"></script>
  <script src="../static/js/preferences.js"></script>
  <script src="../static/js/dog.js"></script>
  <script src="../static/js/app.js"></script>

  <div class="bounds">
    <div class="grid-60 centered">
      <footer class="text-centered">
        Pug or Ugh app, &copy; 2016.
      </footer>
    </div>
  </div>
</body>
</html>
