{% extends 'layout.html' %}
{% block content %}
    {% if project.owner == request.user %}
        <div class="circle--actions--bar">
            <div class="bounds">

                <div class="grid-100">
                    <a class="button" href="{% url 'teambuilder:project_edit' project_pk=project.id %}">Edit Project</a>
                    <a class="button" href="{% url 'teambuilder:project_delete' project_pk=project.id %}">Delete
                        Project</a>
                </div>

            </div>
        </div>
    {% endif %}
    <div class="bounds circle--page circle--article">
        <div class="grid-70">
            <div class="circle--article--header">
                <h4 class="circle--article--section">Project</h4>
                <h1 class="circle--article--title">{{ project.title }}</h1>
                <p class="circle--article--byline">Project Owner:
                    <a href="{% url 'accounts:profile_other' profile_pk=project.owner.id %}">
                        {{ project.owner.name }}
                    </a>
                </p>
            </div>

            <div class="circle--article--body">
                {{ project.description }}
            </div>


            <div class="circle--project--positions">
                <h2>Positions</h2>

                <ul class="circle--group--list">
                    {% for position in positions %}
                        <li id="anchor{{ position.id }}" class="anchor">
                            <h3>{{ position.skill }}</h3>
                            <p>{{ position.description }}</p>
                            {% if position.open %}
                                <a class="button button-primary"
                                   href="{% url 'teambuilder:apply' position_pk=position.id %}"
                                >
                                    Apply
                                </a>
                            {% else %}
                                <a class="button button-primary button-inactive">Position Filled</a>
                            {% endif %}
                        </li>
                    {% endfor %}

                </ul>
            </div>

        </div>

        <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
                <h3>Project Needs</h3>
                <ul class="circle--filter--list">
                    <li>
                        <a href="{% url 'teambuilder:project' project_pk=project.id %}"
                                {% if not need_pk %}
                           class="selected all"
                                {% endif %}
                        >
                            All Needs
                        </a>
                    </li>
                    {% for skill in skills %}
                        <li>
                            <a href="{% url 'teambuilder:project_by_need' project_pk=project.id need_pk=skill.id %}"
                                    {% if skill.id == need_pk %}
                               class="selected"
                                    {% endif %}
                            >
                                {{ skill.need }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                <p>{{ project.project_timeline }}</p>
            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                <p>{{ project.applicant_requirements }}</p>
            </div>

        </div>
    </div>
{% endblock %}