{% extends "layout.html" %}
{% block content %}
    <div class="post">
        {% for menu in menus %}
            <h1>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'menu_edit' pk=menu.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                <a href="{% url 'menu_detail' pk=menu.pk %}">{{ menu.season }}</a>
            </h1>
            {% if menu.expiration_date %}
                <div class="date">
                    Expires on: {{ menu.expiration_date }}
                </div>
            {% endif %}
            <p>{{ menu.items.all|join:", "}}</p>
        {% endfor %}
    </div>
{% endblock %}