---
---
// import site theme
@import "{{ site.theme }}";

// style header
header {
    background: #62b3b2;
    background: white;
}
header p, header h1 a {
    font-family: 'Open Sans', sans-serif;
    color: #62b3b2;
    text-shadow:none;
}

// style banner and github button
#banner {
    //background: #3399cc;
    background: #f7915d;
    border: none;
}
#banner .fork, #banner a.button.fork:hover, #banner a.button.fork {
    background: #62b3b2;
    background: white;
    border: none;
}
#banner a.button.fork strong {
    color: #62b3b2;
    color: #f7915d;
}

// style body
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

// style navigation links in the sidebar
nav ul li.tag-h1 a, nav ul li.tag-h2 a {
    color: #62b3b2;
}
nav ul li.tag-h1.active a, nav ul li.tag-h2.active a {
    color: black;
}

// section
section {
    background: white;
}
